h1 {
  font-family: "Calistoga", serif;
}

h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.custom-pink {
  color: rgb(237, 56, 149);
}

.border-custom-pink {
  border-color: rgb(237, 56, 149);
}

.button-custom-pink {
  background-color: rgb(237, 56, 149);
}

header {
  font-family: "Roboto", sans-serif;
}

main {
  font-family: "Roboto", sans-serif;
}

.background-image {
  background-image: url(../../images/banner-test2.png);
  background-size: cover;
  background-position: center -400px;
}

.background-image2 {
  background-image: url(../../images/background-edc.png);
  background-size: cover;
  background-position: center -200px;
}

.background-form {
  background-image: url(../../images/background-form.png);
  background-size: cover;
  background-position: center -300px;
}

.form__input-control {
  margin-bottom: 1rem;
}
.form__input-control .form__errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.form__input-control.form__errorMessageBox input, .form__input-control.form__errorMessageBox select {
  border-color: red;
  border-width: 3px;
}
.form__input-control.success input, .form__input-control.success select {
  border-color: green;
  border-width: 3px;
}

.asterix {
  color: red;
}

.iframe-google {
  width: 100%;
}

.animated-gradient {
  background: linear-gradient(270deg, #ff6ec4, #7873f5);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}